<h1>Listing articles</h1>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>User</th>
    <th>comments</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <!--<td><%#= post.user.name + ", " + post.user.email %></td>-->
			<td><%= post.user_id %></td>
      <td><%= post.comments.count %> comments</td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New post', new_post_path %>
