<h1>Post show </h1>
  <p>
  <strong>Title:</strong>
  <%= @post.title %>
  </p>

  <p>
  <strong>Post:</strong>
  <%= @post.body %>
  </p>
  <hr>
  <p>Comments..</p>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p><%= f.text_area :body %></p>
  <p><%= f.submit %></p>
<% end %>

<% @post.comments.each do |comment| %>
  <p>
  <strong>user <%= comment.user %>--name-- says:</strong>
  </p>
  <p><%= comment.body %></p>
  <hr>
<% end %>
<%= link_to 'Back', posts_path %>
