<h1>Post show </h1>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post.body %> by. <%= @post.user.email %>
</p>
<hr>
<p>Comments...</p>

<%= form_for([@post, Comment.new]) do |f| %>
  <p><%= f.text_area :body %></p>
  <p><%= f.submit %></p>
<% end %>

<% @post.comments.each do |comment| %>
  <p><strong><%= comment.user.email %></strong> says:</p>
  <p><%= comment.body %></p>
  <%= form_for [comment, Comment.new] do  |c| %>
  <p>reply... <%= c.text_field :body %></p>
  <p><%= c.submit %></p>
<% end %>

<% comment.comments.each do |reply|%>
<p>
  <%= reply.user.email %> replies:
  <%= reply.body %> post: <% reply.post_id %>
</p>
<% end %>
<hr>
<% end %>
<%= link_to 'Back', posts_path %>
